{% extends "layout.html" %}
{% load static %}

{% block head_title %}
Home
{% endblock %}

{% block extra_head %}

{% endblock %}    



{% block content %}

<div>
  {% comment %} {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

  {% if user.is_authenticated %}
  <ul class="messages">
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>Hola {{ user.first_name }}  {{ user.last_name }}.</li>
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><a href="{% url 'employees:profile' %}">Actualiza tus datos</a></li>
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><a href="{% url 'employees:logout' %}">Salir de tu cuenta</a></li>
  </ul>
  {% else %}
  <ul class="messages">
    <a href="{% url 'employees:login' %}">Entra a tu cuenta</a>
  </ul>
  {% endif %}     {% endcomment %}

</div>

<h1> Las Mirlas</h1>

<video class="img-fluid"  controls autoplay>
  <source src="{% static 'LasMirlas.mp4' %}" type="video/mp4">
  Your browser does not support the video tag.
</video>

<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
          <h1>One of three columns</h1>
        </div>
        <div class="col">
          One of three columns
        </div>
        <div class="col">
          One of three columns
        </div>
      </div>
</div>
    
{% endblock %}   
        
